$danger: darkred;
$dark: #363636;
$link: #485fc7;
$light: #cccccc;
$grey: #666666;
$primary: #255994;
$success: green;
$radius: 12px;

@import 'normalize.css/normalize.css';
@import '@fontsource/fira-sans/300.css';

a {
  @extend .clickable;
  color: $link;
  text-decoration: none;

  &[href^="http://"]:after,
  &[href^="https://"]:after
  {
    content: '↗️';
    font-size: 0.5em;
    vertical-align: super;
  }
}

abbr {
  text-underline-offset: 0.2em;
}

body {
  font-family: 'Fira Sans';
  font-size: 1.1em;
  line-height: 2;
}

button {
  @extend .clickable;
  background: transparent;

  &.is-secondary {
    border: 0;
    color: $grey;
    cursor: pointer;
  }
}

dl {
  border: 1px $light solid;
  border-bottom: 0;
  display: flex;
  flex-flow: row wrap;

  dt {
    @extend .is-vcentered;
    border: 1px $light solid;
    border-width: 0 1px 1px 0;
    color: $primary;
    flex-basis: 20%;
    font-weight: bold;
    padding: 0.3em;
  }

  dd {
    border-bottom: 1px $light solid;
    flex-basis: 65%;
    flex-grow: 1;
    margin: 0;
    padding: 0.2em;
    padding-left: 1em;
  }
}

footer {
  @extend .container;
  color: $grey;
  font-size: 0.8em;
}

header {
  margin: 1.7em 0;
  @extend .hgroup;
}

hgroup {
  @extend .hgroup;
}

iframe {
  @extend .clickable;
}

input {
  border: 1px $light solid;
  border-radius: 0.2em;
  padding: 0.5em;

  &:focus {
    outline: 1px $grey solid;
  }

  &[type='submit'] {
    @extend .button;
  }
}

main {
  @extend .container;
}

nav#breadcrumbs {
  @extend .container;

  ul {
    list-style: none;
    background: #fbfbfb;
    border: 1px $light solid;
    border-radius: 0.5em;
    font-size: 0.8em;
    padding: 0.3em 1em;
  }
  li {
    display: inline;
    &:not(:last-child)::after {
      color: $dark;
      content: ' > ';
      font-weight: bold;
    }
  }
}

nav#navbar {
  background: $dark;
  color: white;

  a {
    color: white;
    display: inline-block;
    height: 100%;
    padding: 0.4em 0.5em;
  }

  li {
    display: inline-block;
    position: relative;

    ul {
      background: $dark;
      display: none;
      padding: 0;
      position: absolute;
      width: 100%;

      li {
        display: block;
        width: 100%;
      }
    }

    &:hover {
      background: black;
      ul {
        display: block;
      }
    }
  }

  strong {
    padding-right: 0.5em;
  }

  ul {
    @extend .container;
    padding: 0;
  }
}

table {
  @extend .block, .container;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em !important; // Temporary fix
  width: 100%;

  td,
  th {
    border: 1px $light solid;
    margin: 0;
    padding: 0.4em;

    &.is-narrow {
      width: 1px;
      white-space: nowrap;
    }

    &.actions {
      @extend .is-narrow;

      button {
        visibility: hidden;
      }
    }
  }

  tr {
    &:hover .actions button {
      visibility: visible !important;
    }
  }

  &.borderless {
    td,
    th {
      border-width: 0;
    }
  }
}

pre,
.editor pre[class*='language-'] {
  background: white;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.block {
  margin-bottom: 1em;
}

.button {
  background: #255994;
  border-radius: 0.5em;
  border: 0px;
  color: white;
  cursor: pointer;
  padding: 0.5em 0.75em;
}

.card {
  box-shadow:
    0 0.5em 1em -0.125em rgba(black, 0.1),
    0 0px 0 1px rgba(black, 0.02);
  padding: 1.5em;
}

@mixin columns {
  display: flex;
  gap: 1em;

  @for $c from 1 to 12 {
    .is-#{$c} {
      flex-grow: $c;
    }
  }

  > * {
    flex-basis: 0;
    flex-grow: 1;

    &.is-narrow {
      flex-grow: 0;
    }
  }
}

.reveal .columns {
  @include columns;
}

@media print, screen and (min-width: 800px) {
  .columns {
    @include columns;
  }
}

.container {
  margin: auto;
  max-width: 1344px;
  padding: 0 0.5em;
}

.correct {
  color: $success;
}

.cv-info {
  color: $grey;
  float: right;
  list-style-type: none;
  margin: 0;
}

.emoji {
  font-family: 'Noto Color Emoji';
}

.incorrect {
  color: $danger;
}

.cv-line {
  > *:nth-child(2) {
    margin-top: 0.3em;
  }
}

.environment {
  @extend .block;
  border: 1px $light solid;
  border-radius: $radius;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  h3 {
    background: $primary;
    border-radius: $radius $radius 0 0;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.4em 0.6em;

    &.definition,
    &.example,
    &.exercise {
      background: #01802b;
    }

    &.question {
      background: #2e78a3;
    }

    &.remark {
      background: darkred;
    }

    &.theorem {
      background: #001f3d;
    }

    &.idea {
      background: #dba902;
    }
  }

  > div {
    padding: 0.4em;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      padding: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}

.has-background-danger {
  background: #ff3366;
}

.has-background-success {
  background: #00cc66;
}

.has-text-centered {
  text-align: center;
}

.hgroup {
  line-height: 1.7;

  > * {
    margin: 0;
    padding: 0;

    &:nth-child(2) {
      color: $grey;
    }
  }
}

.icon,
.icon > svg {
  height: 1em;
}

.is-vcentered {
  align-items: center;
  display: flex;
}

.reveal {
  font-size: 24px;

  section.slide {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;

    &.title-slide > div {
      @extend .is-vcentered;
      text-align: center;
      height: 100%;
      * {
        width: 100%;
      }
    }

    > div:first-child {
      height: 100%;
      overflow: auto;
    }

    div > h1 {
      background-color: #23373b;
      color: #ebf0ef;
      font-size: 1.7em;
      font-weight: 600;
      margin-top: 0;
      padding: 0.3em;

      small {
        font-weight: 300;
        font-size: 0.7em;

        cite {
          font-style: normal;
        }
      }

      .time {
        @extend .is-vcentered, .is-narrow;
      }
    }

    .slide-contents {
      padding: 0 0.3em;
    }
  }

  p,
  li,
  dt,
  dd {
    line-height: 2;
  }

  .clickable {
    position: relative;
    z-index: 2;
  }

  .fragment {
    will-change: auto !important;
  }

  .toolbar {
    font-size: 40px;
    bottom: 15px;
    position: absolute;
    z-index: 4;

    form {
      display: inline;
      font-size: 24px;
    }

    svg {
      cursor: 'pointer';
    }
  }
}

.run-button {
  @extend .is-narrow;
  align-self: flex-end;

  button {
    border: 1px $light solid;
    border-radius: 5px;
    font-size: 0.7em;
  }
}

.editor {
  > * {
    > * {
      margin: 0;
    }
  }
}

.toolbar {
  width: 100%;
}

.python-repl {
  background: white;
  bottom: 50px;
  font-size: 0.7em;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 200;
}

.split {
  width: 50%;
}

@media print {
  a {
    color: $dark;

    &[href^="http://"]:after,
    &[href^="https://"]:after
    {
      content: '';
    }
  }

  abbr {
    text-decoration: none !important;
    text-underline-offset: 0.2em;
  }

  body {
    font-size: 11pt;
    line-height: 1.3;
  }

  nav {
    display: none;
  }
}
